body {
  background: #fdfcdc;
  /* what do u think abt opaacity here? */
  opacity: 0.8;
  color: #0081a7;
}
.red {
  color: #f07167;
}
.blue {
  color: #00afb9;
}
.darkblue {
  color: #0081a7;
}
.yellow {
  color: #fdfcdc;
}
.orange {
  color: #fed9b7;
}
.active {
  color: #fed9b7;
  text-decoration: none;
}
.inactive {
  color: #f07167;
}

a:hover {
  /* background-color:green; will change background-color of element on hover */
  color: #fdfcdc; /*will change color of text within the element on hover */
}
.ChatPage {
  height: 100vh;
}

.users-list {
  margin-top: -1px;
}
.btn-sos {
  background: #570f61;
  display: block;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  background-color: #f07167;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  border-radius: 50%;
  font-size: 4rem;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transform-origin: 0 0;
  box-shadow: 0px 0px 0 100px lightseagreen inset;
}
.btn-sos:hover {
  shadow: rgb(255, 3, 255);
  background-image: linear-gradient(#fdfcdc, #f07167, #0081a7);
  color: rgb(0 175 185 / 80%);
  transform: scale(1.05);
}

.shadow {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.btn-outline-success {
  border: 2px solid #f07167;
  border-radius: 10px;
  color: #f07167;
  align-content: flex-end;
  background-color: #fed9b7;
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.btn-outline-success:hover {
  color: white;
  border: 2px solid #fed9b7;
  border-radius: 10px;
  color: #fdfcdc;
  background-color: #f07167;
  padding: 8px 16px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.btn-primary {
  color: #fff;
  background: #0081a7;
  border-color: #0081a7;
}
.btn-danger {
  color: #f07167;
  background: #f07167;
  border-color: #f07167;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #f07167 !important;
  border-color: #f07167 !important;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgb(240 113 103 / 50%);
}

.custom-navbar {
  background-color: rgb(0 129 167 / 100%);
}

/* a:hover {
	background-color:green; will change background-color of element on hover
	color: white; will change color of text within the element on hover */

.toggle {
  color: #f07167;
}
.toggle:hover {
  color: #fed9b7;
}
.toggle:active {
  color: #fdfcdc;
}
.toggle:visited {
  background-color: black;
}
.imgfriend {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.chat-header {
  height: 150px;
  background-image: linear-gradient(#fdfcdc, #f07167, #0081a7);
}
